<% if signed_in? %>
    <script>
        $(function() {
            $( "#datepicker" ).datepicker();
        });
    </script>
    <div class="container">
    <div class="row">
      <aside class="span4">
        <section>
          <%= render 'shared/user_info' %>
        </section>
        <section>
          <%= render 'shared/habit_form' %>
        </section>
      </aside>
      <div class="span8">
        <h3>My Day</h3>
        <section>
          <%= render 'shared/date_form' %>
        </section>
        <p>Date: <input type="text" id="datepicker"></p>
        <%= render 'shared/list' %>
      </div>
    </div>
    </div>
<% else %>
  <%= image_tag("frontpage.png", :id =>"home_banner" )%>
    <!--<div class="center hero-unit">
      <h1>Welcome to Free Puntos!</h1>

      <h2>
        Free Puntos is a daily habit tracker by Gabe Grazier G'Sell
      </h2>

      <%= link_to "Sign up now!", signup_path,
                  class: "btn btn-large btn-primary" %>
    !--></div>

<% end %>