<%= form_for(@daily_habit) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field">

      <%= f.label :date %>
      <%= f.text_field :date, value: Date.today.strftime("%m/%d/%Y") %>

    </div>
    <%= f.submit "Go", class: "btn btn-primary" %>
<% end %>