<%= form_for(@daily_habits) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field">

      <p>Date: <input type="text" id="datepicker"></p>
      <%= f.label :date %>
      <%= f.text_field :date, value: Date.current %>

    </div>
    <%= f.submit "Go", class: "btn btn-primary" %>
<% end %>