<%= form_for(@daily_habits) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field">

      <%= f.label :task %>
      <%= f.text_area :task, placeholder: "My new daily habit..." %>

      <%= f.label :total_points %>
      <%= f.number_field :total_points, placeholder: "10" %>

    </div>
    <%= f.submit "Add", class: "btn btn-large btn-primary" %>
<% end %>